body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;   
}

a {
    color: #11999E;
}

.topContainer {
    background-color: #eaf6f6;
}

.bottom-cloud {
    position: relative/*absolute*/;
    right: 100px;
    bottom: 300px;
}

.mountain {
    position: relative;
    right: 100px;
}

.top-cloud {
    margin-top: 60px;
    position: relative;
    left: 400px;
}

span {
    text-decoration: underline;
}

.subHeading {
    font-size: 25px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-icon1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-icon2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.ownerPic {
    height: 200px;
    width: 160px;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px #66BFBF;
}

hr {
    color: grey;
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.h3-contact {
    margin-bottom: 50px;
}

.p-contact-2 {
    margin-bottom: 60px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }

.bottom-container {
    margin-top: 100px;
    height: 180px;
    width: 100%;
    background-color: #66bfbf;
  }

.footer-link {
    margin: 0px 10px 0px 10px;
    text-decoration: none;
}
.footer-p {
    margin-top: 30px;
    color: #eaf6f6;
}

.bottom-container-child {
    padding-top: 60px;
}

p {
    color: #40514e;
    text-decoration: solid;
}



